<%- include ../partials/header %>
<%- include ../partials/page_header %>

  <div class="container-fluid">
      <div class="btn-group-justified">
        <a href="/bot/start" class="btn btn-outline-primary btn-lg active" role="button" aria-pressed="true">
          StartBot
        </a>
        <a href="/tweets" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">zeTweetBot's tweets!</a>
      </div>

  </div>


<%- include ../partials/footer %>
