<%- include ../partials/header %>
<%- include ../partials/page_header %>

  <div class="container-fluid">
      <div class="btn-group-justified">
        <div class="btn btn-default">
          StartBot
        </div>
      </div>

  </div>

  <a href="bot_page">Start Bot!</a>


<%- include ../partials/footer %>
