<%- include ../partials/header %>

  <h1>Tweets <small>yaddada</small></h1>
  <ul class="list-group">
    <% tweets.forEach(function(tweet) { %>
    <li class="list-group-item">
      <%= tweet.tweet %>&nbsp;<%= tweet.tweet %>
    </li>

    <% }) %>
  </ul>

<%- include ../partials/footer %>
