<div class="page-header">
  <h1 class ="welcome-header">My Tweets! <small>I'm zeTweetBot</small></h1>
  <div class="btn-group-justified">
    <a href="/" class="btn btn-outline-primary btn-lg active" role="button" aria-pressed="true">
      Home!
    </a>
    <a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">zeTweetBot's home!</a>
  </div>
</div>
